body{
    background-color: #121212;
}
.kutu{
    width: 150px;
    height: 150px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    margin: 2px;
}
#clear{
    clear: both;
}
#tasiyici{
    width: 312px;
    height: 312px;
    margin: auto;
    margin-top: 20px;
}
#puan{
    font-size: 25px;
    text-align: center;
    color: white;
}
#credit{
    font-size: 10px;
    text-align: center;
    color: white;
}